@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

body
{
    max-width: 100vw;
    margin: 0 0;
    padding: 0 auto 2%;
    /* max-height: 100vh; */
    background-image: url(../images/bg6.png);
    background-size: cover;
    background-attachment: fixed;
	font-family: "Fira Sans", Helvetica, Arial, sans-serif;

}

*
{
    max-width: 100%;
}

.container
{
    
    margin: 10vh auto 0;
    width: 40%;
    min-width: 322px;
    padding: 5% 5%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 100px  rgb(165, 160, 160);
    
     
}

.container.register
{
    margin: 5% auto 5%;
    padding: 5% 5% 5%;
}

h2
{
    margin-bottom: 30px;
    font-weight: 900;
}

/* .input-group span
{
    background-color: rgb(78, 77, 77);
    color: white;
} */

label{
    font-size: 1.3em;
}

.register label
{
    font-size: 1.2em;
}

.form-check-label
{
    font-size: 1em;
}

.form-control
{
    /* border: 1px solid black; */
    border: none;
    box-shadow: 10px 10px 100px  rgb(197, 192, 192);
}

button
{
    margin: 10px 0;
    
}

.register .btn
{
    margin: 20px 0 0px;
}
.btn
{
    border: none;
}
.btn:hover
{
    background-color: rgb(145, 182, 182);
    border: none;
}

p a
{
    color: rgb(207, 24, 131);
}