@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html
{
    scroll-behavior: smooth;
    
}

body
{
    max-width: 100vw;
    height: 100vh;
    margin:0;
    background-image: url(../images/bgimg.jpeg);
    backdrop-filter: blur(2px);
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

nav{
    font-size: 1.2em;
    position: fixed;
}

.navbar{
    /* position: fixed; */
    z-index: 1;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.navbar-brand
{
    
    font-family: 'Ubuntu', sans-serif;

    font-weight: bold;
    font-size: 1.3em;                                            
}

.nav-item
{
    margin: auto 1vw;
    font-weight: 500;
}
a.dropdown-toggle
{
    margin: 20px 0;
}
div.dropdown-menu.show
{
    padding:10px;
    width: 100%;
}
.profileinfo
{
    text-align: center;
    padding: 0;
    border-bottom: 1px solid grey;
}

.profileinfo .username
{
    margin: 10px auto;
}
a.dropdown-item
{
    padding: 10px;
}


.dropdown
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:rgb(104, 104, 104);
}

.container
{
    text-align: center;
}
.title
{
    margin-top: 14vh;
    margin-bottom: 14vh;
    backface-visibility: hidden;
}
.title .logo
{
    width: 15%;
    /* display: block; */
    
}

.logo{
    animation: fadein 2s;
    
}
@keyframes fadein {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.tagline
{
    margin: 20px auto;
}

.hidden
{
    
    display: none;
    
}

#about p{
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.3em;

}
.btn
{
    display: block;
    margin: 30px auto;
    width: 30%;
    min-width: 207px;
    font-weight: 500;
}
.btn-outline-dark
{
    border-width: 2px;
}

.buttons
{
    margin: 30px auto;
    
}

