{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post an ad</title>
    <link rel="icon" href="../images/logo 2(2).png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/144ce35d48.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'ads/css/postad.css' %}">
</head>

<body>

    <div class="container adform">
        <h2>Post an Ad</h2>
        <div>
            <hr id="ruler">
        </div>
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="form-group">
                <label for="adTitle">Title</label>
                <input type="text" class="form-control" id="adTitle" placeholder="Enter Title" name="title">
            </div>
            {% for err in form.title.errors %}
                <small class="text-danger ml-2"> {{ err }} </small>
            {% endfor %}

            <div class="form-group">
                <label for="adDescription">Description</label>
                <textarea type="text" class="form-control" id="adDescription" placeholder="Enter Description" name="description"></textarea>
            </div>
            {% for err in form.description.errors %}
                <small class="text-danger ml-2"> {{ err }} </small>
            {% endfor %}

            <div class="form-group">
                <label for="adPrice">Asking Price</label>
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">₹</span>
                    </div>
                    <input type="number" class="form-control" id="adPrice" placeholder="Enter Price" name="price">
                </div>
            </div>
            {% for err in form.price.errors %}
                <small class="text-danger ml-2"> {{ err }} </small>
            {% endfor %}

            <div class="form-group">
                <input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;">
                <br>
                <label for="file" style="cursor: pointer;" id="imgLabel">Upload Image <i class="fas fa-image"></i></label>
                <br>
                <img id="output" width="200" />

            </div>
            {% for err in form.image.errors %}
                <small class="text-danger ml-2"> {{ err }} </small>
            {% endfor %}

            <button type="submit" class="btn btn-secondary btn-lg" style="text-decoration: none; color: white;">Post</button>

        </form>
    </div>

    <script>
        var loadFile = function (event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>